table{
    border-collapse: collapse;
    align-self: center;
}

th{
    text-transform: capitalize;
    background-color: blue;
}

th,td{
    border: 1px solid black;
    padding: 3px 5px;
}

#divFormulario{
    display: flex;
    justify-content: center; 
}

.inputError {
    border: 1px solid red;
    box-shadow: 0 0 5px red;
}

.danger {
    color: red;
    font-weight: bold;
}
  
small {
    display: block;
}

.botonesEstilo{
    background-color: lightskyblue;
    size: 3px;
}

nav{
    background-color: orange;
    display: flex;
}

#fotoPrincipal{
    margin:auto;
}

table{
    margin:auto;
}

h1{
    text-align: center;
}

nav > p{
    text-align: right;
}
